Ergebnisse/
*.pyc
*.pyc
Skripte/utils/__pycache__/vp_data_manager.cpython-310.pyc
Skripte/utils/__pycache__/analysis_pipeline.cpython-310.pyc
Skripte/utils/__pycache__/vp_data_manager.cpython-310.pyc
